/* writing the css for the navbar for the learning purpose  */
.navbar {
  /* border: 2px solid black; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.navigation {
  /* border: 2px solid red; */
  color: black;
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  margin-left: 30px;
  list-style-type: none;
  padding: 10px;
}

.navigation a {
  text-decoration: none;
  /* border: 1px solid red; */
  font-size: 1.2rem;
}

/* designing the searchbar  */
.searchbar {
  width: 30%;
  /* border: 2px solid green; */
  padding: 5px;
}

.searchbox {
  /* width: 100%; */
  height: 20px;
  text-align: center;
}

.searchbar button {
  /* border: 2px solid green; */
  color: green;
  padding: 5px;
}

/* writing the css for the textarea of our application for the learning purpose  */
.container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  /* padding: 40px; */
}

.heading {
  /* border: 2px solid red; */
  /* margin-top: 20px; */
  text-align: center;
  /* margin: 0px; */
}

#textarea {
  /* width: 80%; */
  /* height: 100%; */
  border: 2px solid green;
  border-radius: 2%;
}

.btn {
  /* border: 2px solid blac; */
  padding: 10px;
  background-color: royalblue;
  color: white;
  margin-top: 10px;
}
